$primary-color: #333;
$font-montserrat: 'Montserrat', sans-serif;
$secondary-color: #666;

.form-group {
  .answer-input {
    height: 50px;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: 600;
    color: $secondary-color;
    font-size: 1.25rem;
    position: relative;
    padding-right: 2rem;
    border-radius: 0.25rem;
    border: 2px solid #ccc;
    font-family: $font-montserrat;
    transition: border-color 0.3s ease;
    resize: vertical;
    max-height: 60vh;
    overflow: hidden;
    min-height: 50px;
  }

  .answer-input:focus {
    outline: none;
    border-color: $primary-color;
  }
}
