# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.gcloudignore
app.yaml
client_secret_229901261019-s41h6d2sqhm2ukfrs48h1cj292debe4l.apps.googleusercontent.com.json
